<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0">
  <title>Vue-POC</title>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery.min.js"></script>

  <!-- Material Design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- Materializecss -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- link rel="stylesheet"
    type="text/css"
    href="main.css" /-->
  <script src='keskneolek.js'
    defer></script>
</head>

<body>

  <div id='konteiner'
    class='container'>

    <h1>Vue-POC</h1>
    <p>Prototüüp veebiraamistiku Vue omaduste uurimiseks</p>

    <div class='row'>

      <div id='lisaKandidaat'
        class='col'>
        <p>Kandidaadi ülesseadmine</p>
        <!-- Kandidaadi ülesseadmise vorm 
      Vormi input ja textarea väärtused saab siduda Vue isendi
      (instance) andmetega (data) direktiivi v-model abil
      -->
        <!-- section>
        <div class="field">
          <label class="label">Nimi:</label>
          <div class="control">
            <input v-model="vorm.name"
              class="input"
              type="text"
              placeholder="sisesta nimi">
          </div>
        </div>
      </section -->

        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Eesnimi"
                  id="first_name"
                  type="text"
                  class="validate">
                <label for="first_name">Eesnimi</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name"
                  type="text"
                  class="validate">
                <label for="last_name">Perekonnanimi</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="isikukood"
                  type="number"
                  class="validate">
                <label for="isikukood">Isikukood</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email"
                  type="email"
                  class="validate">
                <label for="email">Email</label>
              </div>
            </div>
          </form>
        </div>


        <p>
          <a class="btn-floating btn-large grey darken-2"
            @click='lisaKandidaat'>
            <i class="material-icons">add_circle_outline</i>
          </a>
        </p>
      </div>

      <div id="kuvaKandidaadid"
        class='col'>
        <p>Kuva kandidaadid</p>
        <ul>
          <kandidaadi-kirje v-for="item in kandidaadid"
            v-bind:k="item"
            v-bind:key="item.nr"></kandidaadi-kirje>
        </ul>
        <p>
          <a class="btn-floating btn-large grey darken-2"
            @click='kustutaKandidaadid'>
            <i class="material-icons">delete_forever</i>
          </a>
        </p>
      </div>

      <div id='Haaleta'
        class="col">
        <p>Hääletamine</p>
      </div>

      <div id='Tulemused'
        class="col">
        <p>Tulemus</p>
      </div>

    </div>


  </div>

</body>

</html>