<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0">
  <title>Vue-POC</title>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery.min.js"></script>

  <!-- Material Design icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link rel="stylesheet"
    type="text/css"
    href="main.css" />
  <script src='proov1.js'
    defer></script>
</head>

<body>
  <div class="columns"
    id="app">
    <div class="column is-two-thirds">
      <section class="section">
        <h1 class="title">Fun with Forms in Vue 2.0</h1>
        <p class="subtitle">
          Learn how to work with forms, including
          <strong>validation</strong>!
        </p>
        <hr>

        <!-- form starts here -->
        <section class="form">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input v-model="form.name"
                class="input"
                type="text"
                placeholder="Text input">
            </div>
          </div>
        </section>
      </section>
    </div>

    <div class="column">
      <section class="section"
        id="results">
        <div class="box">
          <ul>
            <!-- loop through all the `form` properties and show their values -->
            <li v-for="(item, k) in form">
              <strong>{{ k }}:</strong> {{ item }}
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

</body>

</html>